@charset "ISO-8859-1";

.navbar{
	padding: 1% 5% !important;
	margin: 0% !important;
}

.dropdown-menu{
	min-width: auto !important;
}

.form-group {
	margin-top: 20px;
}

.button-class {
	text-align: center !important;
	border: 1px !important;
	margin-top: 20px !important;
}